# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/

# Django
db.sqlite3
/staticfiles/
/media/

# Environment variables
.env

# OS files
.DS_Store

# Testing / tooling
.pytest_cache/
.mypy_cache/
.coverage

# IDE (optional but nice)
.vscode/
.idea/

desktop.ini
posts.json
rebuild.txt